image: docker

services:
  - docker:dind


variables:
  IMAGE_NAME: node-project
  CI_IMAGE: $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA

stages:
  - build
  - test
  - publish
  - stg-deploy
  - prod-deploy

build:
  stage: build
  tags: 
    - docker
  only:
    - dev
    - main
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t $CI_IMAGE .
    - docker push $CI_IMAGE

test:
  stage: test
  tags: 
    - docker
  only:
    - dev
    - main
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_IMAGE
    - docker run $CI_IMAGE echo "run test script here"

publish:
  stage: publish
  tags: 
    - docker
  only:
    - main
  script:
    - echo "publish job"

stg-deploy:
  stage: stg-deploy
  tags: 
    - docker
  only:
    - main
  script:
    - echo "Staging deploy job"

prod-deploy:
  stage: prod-deploy
  tags: 
    - docker
  only:
    - main
  script:
    - echo "Production deploy job"
  when: manual