name: Push to GCR GitHub Action

on: [push]

jobs:
  build-and-push-to-gcr-and-deploy-to-cloud-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: RafikFarhad/push-to-gcr-github-action@v4.1
        with:
          gcloud_service_key: ${{ secrets.GCLOUD_SERVICE_KEY }} # can be base64 encoded or plain text
          registry: gcr.io
          project_id: ${{ secrets.PROJECT_ID }}
          image_name: fastapi
          image_tag: latest,v1
          # dockerfile: ./docker/Dockerfile.prod
          # context: ./docker


      - name: Deploy service to Cloud Run
        uses: stefda/action-cloud-run@v1.6
        with:
          image: gcr.io/${{ secrets.PROJECT_ID }}/fastapi
          service: fastapi
          project: ${{ secrets.PROJECT_ID }}
          region: asia-east1
          #env: [path-to-env-file]
          service key: ${{ secrets.GCLOUD_SERVICE_KEY }}
      
      - name: pytest unit test
        run: |
          pip install pytest
          pytest